{% set content_dir = config.extra.cela.home_content_dir | default(value = "blog") %}
{% set content_dir = content_dir | trim_start_matches(pat="content/") %}
{% set home_section_path = content_dir ~ '/_index.md' %}
{% set home_section = get_section(path=home_section_path)%}
<!-- Add home section pages (and transparent subsection pages)-->

{% for year, pages in home_section.pages | group_by(attribute="year") %}
<h1>{{ year }}</h1>
{% for page in pages %}
<article class="post-entry">
  <header class="entry-header">
    <h2>{{ page.title }}</h2>
  </header>
  {% if page.summary %}
  <div class="entry-content">
    <p>{{ page.summary | safe }}</p>
  </div>
  {% endif %}
  <footer class="entry-footer">
    {% include "partials/post/post_meta.html" %}
  </footer>
  <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endfor %}
{% endfor %}